PORT=3000
JWT_SECRET=tu_jwt_secret_local
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ecotrack_db_in5bm
MAPBOX_TOKEN=tu_mapbox_token
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200
